@import './shared.css';
@import './schema-tab.css';
@import './state-tab.css';
@import './view-tab.css';
@import './positions-tab.css';
@import './immutable-tab.css';
@import './transactions-tab.css';
@import './plugins-tab.css';
